<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DictionaryArea>
    <China>6</China>
  </DictionaryArea>
  <DefaultTarget>bbs_main</DefaultTarget>
  <IndexPage>/Index.aspx</IndexPage>
  <OrderQueueFile><![CDATA[D:\Code\ETS2\OrderQueue.txt]]></OrderQueueFile>
  <OrderTimeOut>7200</OrderTimeOut>
  <FileUpload>
    <Host>http://10.0.4.18:801/ets/</Host>
    <PicType>Image Files|*.jpg;*.gif;*.png|Jpg Files|*.jpg|Gif Files|*.gif|Png Files|*.png</PicType>

    <!--<FileHost>http://ets2.ets.com/Login.aspx</FileHost>-->
    <!--<FileRootPath>D:\Code\ETS2\ETS2.WebApp\UploadFile\</FileRootPath>-->
    <FileRootPath>D:\Code\ETS2\ETS2.WebApp\UploadFile\</FileRootPath>
    <FileUrl>http://image.etown.cn/UploadFile/</FileUrl>
    <!--<FileUrl>http://ets2.ets.com/UploadFile/</FileUrl>-->
    <ImgType>*.jpg;*.gif;*.mp3;</ImgType>
    <ImgDes>Image Files(Jpg,Gif,mp3)</ImgDes>
    <ImgSize>10485760</ImgSize>

    <FileType>*</FileType>
    <FileDes>所有文件</FileDes>
    <FileSize>10485760</FileSize>

  </FileUpload>
  <Document>
    <Path>D:\Code\ETS2\ETS2.WebApp\Word\</Path>
    <Url>http://ets2.ets.com/word/</Url>
    <TemplatePath>D:\Code\ETS2\ETS2.WebApp\Word\Temp\temp.htm</TemplatePath>
    <!--<Path><![CDATA[E:\Upload\Word\]]></Path>
    <Url><![CDATA[http://file.ets.com:888/word/]]></Url>
    <TemplatePath>E:\Upload\Word\Temp\</TemplatePath>-->
  </Document>
  <BusinessArea>
    <Internal>2</Internal>
    <Abord>1</Abord>
  </BusinessArea>
  <CompanyCode>
    <Type Value="480" Text="L"></Type>
    <Type Value="9" Text="G"></Type>
    <Type Value="12" Text="Y"></Type>
  </CompanyCode>
  <VAccountType>
    <Person>p{0}@easytour.cn</Person>-
    <Organization>o{0}@easytour.cn</Organization>
    <WebSite>w{0}@easytour.cn</WebSite>
  </VAccountType>
  <AppCacheKey>ETSApp</AppCacheKey>
  <VASServerAccount>
    <Admin user="VASAccountUser" password="VASAccountPwd2010"/>
  </VASServerAccount>
  <CategoryType>
    <Payment>支出</Payment>
    <Charge>充值</Charge>
    <SelfPay>自缴</SelfPay>
  </CategoryType>
  <TradeCategory>
    <Charge Text="充值" Value="2"></Charge>
  </TradeCategory>
  <PayType>
    <NetPay Text="网上充值" Value="11"></NetPay>
  </PayType>
  <!--充值流程-->
  <ChargeFlow>
    <ItemFlow Status="0">
      <CurrentMark>提交充值单</CurrentMark>
      <NextMark>等待出纳审核</NextMark>
      <RoleFunc></RoleFunc>
      <IsEnd></IsEnd>
      <AuditListItem>
        <Audit Value="">
        </Audit>
        <Audit Value="">
        </Audit>
      </AuditListItem>
    </ItemFlow>
    <ItemFlow Status="1">
      <CurrentMark>提交充值单</CurrentMark>
      <NextMark>等待出纳审核</NextMark>
      <RoleFunc></RoleFunc>
      <IsEnd>false</IsEnd>
      <AuditListItem>
        <Audit Value="4">
          审核通过
        </Audit>
        <Audit Value="8">
          审核拒绝
        </Audit>
      </AuditListItem>
    </ItemFlow>
    <ItemFlow Status="4">
      <CurrentMark>出纳审核通过</CurrentMark>
      <NextMark>等待快计审核</NextMark>
      <RoleFunc></RoleFunc>
      <IsEnd>true</IsEnd>
      <AuditListItem>
        <Audit Value="16">
          审核通过
        </Audit>
        <Audit Value="32">
          审核拒绝
        </Audit>
      </AuditListItem>
    </ItemFlow>
    <ItemFlow Status="16">
      <CurrentMark>会计审核通过</CurrentMark>
      <NextMark>流程结束</NextMark>
      <RoleFunc></RoleFunc>
      <IsEnd></IsEnd>
      <AuditListItem>
        <Audit Value="">
        </Audit>
        <Audit Value="">
        </Audit>
      </AuditListItem>
    </ItemFlow>
  </ChargeFlow>
  <Destination>
    <Departure Title="1">出境</Departure>
  </Destination>
  <OrderSms>
    <Standard>
      <UpdateOrderPrice Title ="标准订单{0}价格修改提醒">易游天下ETS提醒:您的{0}订单价格已被供应商修改为{1}元,请尽快在系统中处理.</UpdateOrderPrice>
      <PaymentProvider Title ="标准订单{0}付款提醒">易游天下ETS提醒:您的{0}团新增订单{1}并付款{2}元,请尽快处理.</PaymentProvider>
      <PaymentRetailer Title ="标准订单{0}付款提醒">易游天下ETS提醒:您的{0}订单,金额{1}元付款成功.</PaymentRetailer>
      <OrderLoan Title ="标准订单{0}付款提醒">易游天下ETS提醒:您已成功发起借款{0}元，并对{1}号订单进行付款.</OrderLoan>
      <OrderRefund Title ="标准订单{0}退款提醒">易游天下ETS提醒:您的{0}团有编号为{1}的订单发起退款{2}元,请尽快登录系统处理</OrderRefund>
    </Standard>
    <Custom>
      <SubmitOrder Title ="定制订单{0}确认提醒">易游天下ETS提醒:您有一个新增的编号为{0}的定制订单, 请尽快登录系统处理.</SubmitOrder>
      <PaymentRetailer Title ="定制订单{0}付款提醒">易游天下ETS提醒:您的{0}订单,金额{1}元付款成功.</PaymentRetailer>
      <PaymentProvicer Title ="定制订单{0}付款提醒">易游天下ETS提醒:您的编号为{0}的定制订单, 付款{1}元,请尽快登陆系统进行确认.</PaymentProvicer>
      <UpdateStatus Title ="定制订单{0}确认提醒">易游天下ETS提醒:您的编号为{0}的定制订单,已被供应商确认,请尽快登录系统处理</UpdateStatus>
      <OrderLoan Title ="标准订单{0}付款提醒">易游天下ETS提醒:您已成功发起借款{0}元，并对{1}号订单进行付款.</OrderLoan>
      <OrderRefund Title ="定制订单{0}退款提醒">易游天下ETS提醒:您的编号为{0}的定制订单发起退款{1}元,请尽快登录系统处理.</OrderRefund>
    </Custom>
    <External>
      <Rejective Title ="外部订单{0}被计调拒绝">易游天下ETS提醒:您的编号为{0}的外部订单计调审核被拒绝,请尽快登录系统处理.</Rejective>
      <BursarRefuse Title ="外部订单{0}被会计拒绝">易游天下ETS提醒:您的编号为{0}的外部订单会计审核被拒绝,请尽快登录系统处理.</BursarRefuse>
      <CashierRefuse Title ="外部订单{0}被出纳拒绝">易游天下ETS提醒:您的编号为{0}的外部订单被出纳拒绝,请尽快登录系统处理.</CashierRefuse>
      <CashierPass Title ="外部订单{0}审核通过">易游天下ETS提醒:您的编号为{0},金额{1}元的外部订单已被通过,请登录系统查看.</CashierPass>
    </External>
  </OrderSms>
  <RegionSms>
    <InsufficientBalance Title="">易游天下系统提醒：您的大区财付通付款账户余额不足，造成用户订单付款失败，请及时充值。</InsufficientBalance>
  </RegionSms>
  <CircuitRecommendsSms>
    <Messages Title="">{0}(编号{1}),价格:{2}，电话:{3}--易游天下</Messages>
  </CircuitRecommendsSms>
  <GroupCompany>
    <GroupCompanyId Title ="集团id编号">1</GroupCompanyId>
  </GroupCompany>
  <InvestmenPromotionDepartmentRoles>
    <RoleIds Title ="招商部门角色Id">41,41</RoleIds>
  </InvestmenPromotionDepartmentRoles>
  <RegionRole>
    <RegionRoleId Title ="注册用户roleid编号">58</RegionRoleId>
  </RegionRole>

  <!--普通买家注册信息-->
  <NormalSalesCompanyId>
    <NormalSalesCompanyIdId Title="注册普通买家所属机构编号">3523</NormalSalesCompanyIdId>
  </NormalSalesCompanyId>
  <NormalSalesRole>
    <NormalSalesRoleId Title="注册普通买家角色">1076</NormalSalesRoleId>
    <NormalProviderRoleId Title="平台卖家">1075</NormalProviderRoleId>
  </NormalSalesRole>
  <WebSite>
    <WebSiteUrl Title="注册买家财务帐号">w{0}@easytour.cn</WebSiteUrl>
  </WebSite>

  <OrganType>
    <OperatorId Title ="北京大区">185 </OperatorId>
  </OrganType>
  <BeiJingOperationsCenter>
    <OperationsCenterId Title ="北京大区运营中心">2591</OperationsCenterId>
  </BeiJingOperationsCenter>
  <BeiJingRegion>
    <BeiJingRegionId Title ="北京大区">185 </BeiJingRegionId>
  </BeiJingRegion>
  <YiYouRegion>
    <YiYouRegionId Title ="逸游网大区">16158 </YiYouRegionId>
  </YiYouRegion>

  <Adviser>
    <AdviserUrl Title ="顾问网址">http://tourism.ets.com/default.aspx</AdviserUrl>
  </Adviser>
  <HtmlUrl>
    <DeskUrl Title ="供应商首页静态网址">http://file.etschina.com/Static/ETSApp/html/desk.html</DeskUrl>
    <DeskCompanyUrl Title ="供应商首页机构信息静态网址">D:\code\ETS2\ETS2.WebApp\html\company</DeskCompanyUrl>
    <DeskCompanyLeftUrl Title ="供应商首页左侧静态网址">http://file.etschina.com/Static/ETSApp/1u/index3.html</DeskCompanyLeftUrl>
    <LoginImgUrl Title ="登录焦点图片静态网址">http://file.etschina.com/Static/ETSApp/html/loginImage.html</LoginImgUrl>
    <LoginUrl Title ="登录静态网址">http://file.etschina.com/Static/ETSApp/html/loginCon.html</LoginUrl>
  </HtmlUrl>

  <GroupCompany>
    <GroupCompanyId Title ="集团id编号">1</GroupCompanyId>
  </GroupCompany>

  <MTSAgentService>
    <Version Title ="版本号">1</Version>
    <Key Title ="消息序列号">Y2Y0NTlkYzMtY2EzOC00OTQ2</Key>
    <PartnerCode Title ="合作伙伴商户编号">257</PartnerCode>
    <ProxyId Title ="合作伙伴用户编号">308</ProxyId>
    <MtsImageSrc Title ="电子票的图片路径">http://ets3.easytour.com.cn:8012/</MtsImageSrc>
  </MTSAgentService>

  <ResourceCategory>
    <Item Title ="温泉养生">1</Item>
    <Item Title ="历史名胜">2</Item>
    <Item Title ="休闲娱乐">3</Item>
    <Item Title ="博物馆">4</Item>
    <Item Title ="主题公园">5</Item>
    <Item Title ="影剧院">6</Item>
    <Item Title ="激情滑雪">7</Item>
    <Item Title ="美食">8</Item>
  </ResourceCategory>

  <MtsDocumentType>
    <Item Title ="身份证">1</Item>
  </MtsDocumentType>

  <!--密钥，合作方用户编号，合作方机构编号-->
  <EtsService>
    <Item Key ="64623FB229B4463C99922C9C" UserId ="100">200</Item>
  </EtsService>


  <BookFlightcredential>
    <partner>51book123</partner>
    <!--合作方身份Id-->
    <key>0123456789</key>
    <!--合作方key值-->
    <sign_type>MD5</sign_type>
    <!--加密方式-->
    <input_charset>UTF-8</input_charset>
    <NoticeNum>5</NoticeNum>
    <Minute>1000</Minute>
    <!--毫秒数-->
    <service_version>1.0</service_version>
    <!--字符编码-->
    <GATEWAY_NEW>/flightbook/gateway.do</GATEWAY_NEW>
    <!--调用接口地址-->
    <OrderPaymentUrl>/1UUI/PMUI/Orders/OrderPayment.aspx</OrderPaymentUrl>
    <!--支付页面-->
    <OrderPaymentUrl>/1UUI/PMUI/Orders/OrderPayment.aspx</OrderPaymentUrl>
    <OrderRefundMentUrl>/UI/POUI/OrderPages/OrderRefuse.aspx</OrderRefundMentUrl>
    <!--退款页面-->
    <!--之前接口用到的现在可能不用-->
    <AgencyCode>sdfh</AgencyCode>
    <PassWord>111111</PassWord>
    <!--~!!aLYE1-->
    <!--%DUriGdw-->
    <SecurityCode>~!!aLYE1</SecurityCode>
    <!--之前接口用到的现在可能不用-->
  </BookFlightcredential>
  <!--start登陆接口参数-->
  <BookFlightLoginAPI>
    <partner>EASYTOUR</partner>
    <!--~!!aLYE1-->
    <!--%DUriGdw-->
    <SecurityCode>%DUriGdw</SecurityCode>
    <!--合作方身份Id-->
    <LoginCooperateAPIUrl>http://net.liantuo.com:8000/liantuo/partner/cooperate.in</LoginCooperateAPIUrl>
    <service>user_login</service>
    <outer_app_token>51bookFlight</outer_app_token>
    <user_type>AGENCY_SINGLE_USER</user_type>
    <return_url>http://ets2.ets.com.cn/flightbook/Login51BookAPI.ashx</return_url>
    <goto_url>http://net.liantuo.com:8000/liantuo/manage/index.in?isLogin=true</goto_url>
    <input_charset>UTF-8</input_charset>
    <sign_type>MD5</sign_type>
    <pay_notifyurl><![CDATA[http://219.141.233.66:8080/payment/payShowUrl.jsp?notify_url=http://219.141.233.66:8080/payment/pay/yiyouPaynotify.in&input_charset=utf-8&out_trade_no={0}&partner=277&service_version=1.0&sign_type=MD5]]></pay_notifyurl>
  </BookFlightLoginAPI>

  <!--<BookFlightcredential>
    <partner>51book123</partner>
    -->
  <!--合作方身份Id-->
  <!--
    <key>0123456789</key>
    -->
  <!--合作方key值-->
  <!--
    <sign_type>MD5</sign_type>
    -->
  <!--加密方式-->
  <!--
    <input_charset>UTF-8</input_charset>
    <NoticeNum>5</NoticeNum>
    <Minute>1000</Minute>
    -->
  <!--毫秒数-->
  <!--
    <service_version>1.0</service_version>
    -->
  <!--字符编码-->
  <!--
    <GATEWAY_NEW>/flightbook/gateway.do</GATEWAY_NEW>
    -->
  <!--调用接口地址-->
  <!--
    <OrderPaymentUrl>/UI/POUI/OrderPages/OrderPayment.aspx</OrderPaymentUrl>
    -->
  <!--支付页面-->
  <!--
    <OrderPaymentUrl>/UI/POUI/OrderPages/OrderPayment.aspx</OrderPaymentUrl>
    <OrderRefundMentUrl>/UI/POUI/OrderPages/OrderRefuse.aspx</OrderRefundMentUrl>
    -->
  <!--退款页面-->
  <!--
    -->
  <!--之前接口用到的现在可能不用-->
  <!--
    <AgencyCode>sdfh</AgencyCode>
    <PassWord>111111</PassWord>
    <SecurityCode>~!!aLYE1</SecurityCode>
    -->
  <!--之前接口用到的现在可能不用-->
  <!--
  </BookFlightcredential>
  -->
  <!--start登陆接口参数-->
  <!--
  <BookFlightLoginAPI>
    <partner>CSCS</partner>
    <SecurityCode>1234567</SecurityCode>
    -->
  <!--合作方身份Id-->
  <!--
    <LoginCooperateAPIUrl>http://www.51book.com/liantuo/partner/cooperate.in</LoginCooperateAPIUrl>
    <service>user_login</service>
    <outer_app_token>51bookFlight</outer_app_token>
    <user_type>AGENCY_SINGLE_USER</user_type>
    <return_url>http://ets2.easytour.cn/flightbook/Login51BookAPI.ashx</return_url>
    <goto_url>http://www.51book.com/liantuo/manage/index.in?isLogin=true</goto_url>
    <input_charset>UTF-8</input_charset>
    <sign_type>MD5</sign_type>
  </BookFlightLoginAPI>
  -->
  <!--end登陆接口参数-->

  <Message>
    <Path>D:\logs\</Path>
  </Message>
  <Inquiry>
    <ListPath>http://group.ets.com/group/my</ListPath>
    <ManagerPath>http://group.ets.com/group/0/CreateTopic</ManagerPath>
  </Inquiry>
  <Flow>
    <Name><![CDATA[<a href="{6}" target="_blank">{0}发起{1}[{2}]{3}，请进行{4} {5}</a>]]></Name>
    <GroupOrder>
      <Create>供应商未确认</Create>
      <CreateDec>等待供应商确认</CreateDec>
      <ProviderPass>未付款</ProviderPass>
      <ProviderPassDec>等待付款</ProviderPassDec>
    </GroupOrder>
    <ExternalOrder>
      <Paied>线控未审核</Paied>
      <PaiedDec>等待线控审核</PaiedDec>
      <ManagerPass>会计未审核</ManagerPass>
      <ManagerPassDec>等待会计审核</ManagerPassDec>
      <AccountingPass>出纳未审核</AccountingPass>
      <AccountingPassDec>等待出纳审核</AccountingPassDec>
      <CashierPass>未付款</CashierPass>
      <CashierPassDec>等待付款</CashierPassDec>
    </ExternalOrder>
  </Flow>
  <!--订单支付类型(银行转账Id,支付宝转账Id)-->
  <Order>
    <PayTypeId>11,40,</PayTypeId>
  </Order>

  <Bonus>
    <PayTypeId>44</PayTypeId>
  </Bonus>

  <LoginCount>
    <SalesCount>1000</SalesCount>
    <ProviderCount>1000</ProviderCount>
    <OrderCount>1000</OrderCount>
  </LoginCount>

  <Platform>
    <OperatorId>10374</OperatorId>
  </Platform>

  <Hotel>
    <WebUrl>http://chstravel.com:30000/neworder</WebUrl>
    <CustomerCD>BJ7330</CustomerCD>
    <Authno>123456</Authno>
    <BusinessType>Neworder</BusinessType>
    <HotelTest>false</HotelTest>
    <HotelRemark>测试订单，请注意！</HotelRemark>
    <CheckinpeRsons>测试/test</CheckinpeRsons>
  </Hotel>

  <Insurance>
    <!--上传导入被保人信息excel存放地址,设置这个文件夹设置everyone读写权限，并且共享-->
    <ExcelPath>D:\FileStore\</ExcelPath>

    <!--人寿保险XML数据库存放地址-->
    <XmlFilePath>D:\Code\ETS2\</XmlFilePath>

    <!--人寿保险接口所需配置文件-->
    <UserName>test_yyw</UserName>
    <PassWord>111111</PassWord>
    <AgentNo>21031102320569</AgentNo>
    <AgenpointNo>21031102320569</AgenpointNo>

    <!--提供的投保人信息-->
    <AppName>易游天下</AppName>
    <AppGender>M</AppGender>
    <AppBirth>1978-08-08</AppBirth>
    <AppIdtype>I</AppIdtype>
    <AppIdno>422721197808080039</AppIdno>
    <AppMobile>13717802281</AppMobile>
  </Insurance>

  <FeiTicket>
    <!--支付宝接口信息-->

    <!--异步通知页面-->
    <Notify_Url>http://122.200.99.22/UI/POUI/FeiTicket/Notify_Url.aspx</Notify_Url>
    <!--支付宝网关-->
    <GateWay>https://mapi.alipay.com/gateway.do?</GateWay>
    <Partner>2088901058530380</Partner>
    <Key>nxezstfms0fepjbmhezb26snzeibxnnn</Key>
    <Input_Charset>gbk</Input_Charset>
    <Sign_Type>MD5</Sign_Type>

    <!--付款账户名-->
    <Email>ets_guojipiao@126.com</Email>
    <Account_Name>北京易游世界科技发展有限公司</Account_Name>

    <!--收款帐号信息-->
    <Account_Accept>lbxbj2008@163.com</Account_Accept>
    <Account_AcceptName>李兵晓</Account_AcceptName>

    <!--国际机票飞团网请求地址-->
    <SearchUrl>http://test.api.feiquanqiu.com/v1/search?cid=easytour</SearchUrl>
    <BookUrl>https://test.api.feiquanqiu.com/v1/book?cid=easytour</BookUrl>
    <IssueUrl>http://test.api.feiquanqiu.com/v1/issue?cid=easytour</IssueUrl>

  </FeiTicket>

  <OperatorFile>
    <Path>D:\Code\ETS2\ETS2.WebApp\OperatorHtml\</Path>
    <NameExt>.html</NameExt>
    <Type>html</Type>
    <Size>30000</Size>
    <DefaultName>Demo.html</DefaultName>
    <Host>http://ets2.ets.com/OperatorHtml/</Host>
    <IndexHtml>Information.html</IndexHtml>
  </OperatorFile>

  <StaticHtmlContent>
    <Information>
      <![CDATA[
      <div id="nnrq{0}" class="nrr22"><ul>{1}</ul></div>]]>
    </Information>
    <InformationHidden>
      <![CDATA[
      <div id="nnrq{0}" class="nrr22" style="display: none;" ><ul>{1}</ul></div>]]>
    </InformationHidden>
    <InformationDetail>
      <![CDATA[<li><label class='{0}'>{1}</label><a href='/UI/CRMUI/Information/InformationView.aspx?Id={2}'  target='_blank'>{3}</a></li>]]>
    </InformationDetail>
    <Flow>
      <![CDATA[<ul>{0}</ul>]]>
    </Flow>
    <FlowDetail>
      <![CDATA[<li>{0}</li>]]>
    </FlowDetail>
    <Empty>
      <![CDATA[<div class='nrr11 liop' style='text-align:center;'>暂无待办事项</div>]]>
    </Empty>
    <AreaTypeId name="本区消息">22</AreaTypeId>
    <CommonTypeId name="系统公告">2</CommonTypeId>
    <BusinessTypeId name="行业信息">20</BusinessTypeId>
    <TypeIds name="首页显示类别">22,2,20</TypeIds>
  </StaticHtmlContent>

  <!--相应的零售商类型可以创建的员工类型-->
  <OrganRole>
    <Sales>
      <JoinedStore id="256" name="加盟门市">31</JoinedStore>
      <JoinedBranch id="512" name="加盟分社">37</JoinedBranch>
      <NonJoinedDepar id="1024" name="加盟部门">46</NonJoinedDepar>
      <EntitiesJoin id="2048" name="委托代理">67</EntitiesJoin>
    </Sales>
  </OrganRole>

  <Destination>
    <Regex>[\u4e00-\u9fa5\(\)\、\（\）\－\/]+,</Regex>
  </Destination>

  <AirTicket>
    <Title><![CDATA[【{0}】{1}  -> {2}  ]]></Title>
  </AirTicket>

  <AppId>
    <SalesHiddenId name="零售商不显示的AppId号">17</SalesHiddenId>
    <ProviderHomePageId Title="首页">17</ProviderHomePageId>
  </AppId>


  <InsuranceOrderSMS>
    <Phone>18611388853,18611388853</Phone>
  </InsuranceOrderSMS>


  <EmailAddress>
    <ToEmailDomestic>474944508@qq.com</ToEmailDomestic>
    <ToEmailInternational>474944508@qq.com</ToEmailInternational>
    <FromEmail>909836197@qq.com</FromEmail>
    <FromPwd>zpc#$%870921</FromPwd>FromPwd>
    <Host>smtp.qq.com</Host>
    <Url>http://ets2.ets.com/ui/</Url>
  </EmailAddress>

  <!--卖家经营的接口产品类型,票务中心(2682)-->
  <CompanyInterfaceProductType>
    <!--散客门票(票务中心)-->
    <!--<TravelerCompanyProductType companyId="2682" >1006</TravelerCompanyProductType>-->
    <!--保险(保险中心)-->
    <!--<InsuranceCompanyProductType companyId="11421" >11</InsuranceCompanyProductType>-->
    <!--商散酒店(酒店中心)-->
    <!--<MtsCompanyProductType companyId="6102" >5</MtsCompanyProductType>-->
    <!--国内机票(票务中心)-->
    <!--<FlightCompanyProductType companyId="2682" >7</FlightCompanyProductType>-->
    <!--国际机票(逸游国际机票)-->
    <!--<FeiAirTicketCompanyProductType companyId="11417" >15</FeiAirTicketCompanyProductType>-->
  </CompanyInterfaceProductType>

  <!--商品类基础表数据-->
  <ProductType>
    <Basic Value="1" Text="基础"></Basic>
    <DomesticBusiness Value="2" Text="国内">2</DomesticBusiness>
    <OutBusiness Value="3" Text="出境">3</OutBusiness>

    <LineProduct Value="4,9" Text="线路">4,9</LineProduct>
    <HotelProduct Value="5,10" Text="酒店">5,10</HotelProduct>
    <FlightProduct Value="6,11" Text="机票">6,11</FlightProduct>
    <GateTicketProduct Value="7,12" Text="门票">7,12</GateTicketProduct>

    <DomesticRoutes Value="4" Text="国内线路">4</DomesticRoutes>
    <ExitLine Value="9" Text="出境线路">9</ExitLine>
    <DomesticHotel Value="5" Text="国内酒店">5</DomesticHotel>
    <ExitHotel Value="10" Text="出境酒店">10</ExitHotel>
    <DomesticFlight Value="6" Text="国内机票">6</DomesticFlight>
    <ExitFlight Value="11" Text="出境机票">11</ExitFlight>
    <DomesticTickets Value="7" Text="国内门票">7</DomesticTickets>
    <ExitTickets Value="12" Text="出境门票">12</ExitTickets>
  </ProductType>
</configuration>