html {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
font-family: Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;
}
body {
color: #333;
background-color: #eee;
-webkit-backface-visibility: hidden;
}
.container {
background-color: #FFF;
}
.container .content {
zoom: 1;
}
.content {
margin: 0 auto;
}
.tabber.tabber-double-11 {
border: 0px none;
-webkit-border-image: url("/Images/border-line.png") 2 stretch;
-moz-border-image: url("/Images/border-line.png") 2 stretch;
border-image: url("/Images/border-line.png") 2 stretch;
border-bottom: 2px solid #e5e5e5;
overflow: hidden;
margin-bottom: 1px;
}
.tabber {
width: 100%;
color: #333;
font-size: 14px;
background-color: #fff;
}
.clearfix {
zoom: 1;
}
.tabber.tabber-double-11 a {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 0px none;
color: #999;
display: block;
}
.tabber.tabber-n3 button, .tabber.tabber-n3 a {
width: 33.3%;
}
.tabber button, .tabber a {
float: left;
width: 50%;
height: 40px;
line-height: 40px;
border: 0px none;
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
background-color: #fff;
position: relative;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
a {
color: #333;
background: transparent;
text-decoration: none;
}
.tabber.tabber-double-11 a.active {
color: #F15A0C;
border-top: 0px none;
border-bottom: 2px solid #F15A0C;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}
user agent stylesheetdiv {
display: block;
}

.empty-list {
font-size: 14px;
display: block;
text-align: center;
padding: 30px 10px;
color: #999;
}
.empty-list div {
margin-bottom: 20px;
}
.empty-list h4 {
font-size: 16px;
margin-bottom: 10px;
color: #666;
}
.font-size-12 {
font-size: 12px !important;
}
.footer {
margin: 0;
padding: 0;
text-align: center;
line-height: 16px;
background-color: #eee;
border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.copyright {
background-color: #eee;
color: #999;
font-size: 12px;
line-height: 16px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}
.copyright .ft-copyright:first-child {
margin-top: 0px;
}
.copyright .ft-copyright {
text-align: center;
margin-top: 10px;
font-size: 12px;
}
.copyright .ft-copyright>a {
color: #999;
}
a {
color: #333;
background: transparent;
text-decoration: none;
}
.copyright .ft-copyright>a .company {
color: #f39f6c;
}





.block {
overflow: hidden;
-webkit-border-image: url("/Images/border-line.png") 2 stretch;
-moz-border-image: url("/Images/border-line.png") 2 stretch;
border-image: url("/Images/border-line.png") 2 stretch;

border-bottom: 2px solid #e5e5e5;
margin: 10px 0;
background-color: #fff;
display: block;
position: relative;
font-size: 14px;
}
.block.block-order .header {
height: 37px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0 10px;
padding-left: 10px;
line-height: 37px;
}

.pull-right {
float: right;
}

.c-blue {
color: #00a0f8 !important;
}

hr.left-10 {
margin-left: 10px;
}
hr.margin-0 {
margin: 0;
}
hr {
margin: 10px 0;
border: 0px none;
-webkit-border-image: url("/Images/border-line.png") 2 stretch;
-moz-border-image: url("/Images/border-line.png") 2 stretch;
border-image: url("/Images/border-line.png") 2 stretch;
border-top: 2px solid #e5e5e5;
}
user agent stylesheethr {
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-style: inset;
border-width: 1px;
}

.block.block-list {
margin: 0;
padding: 0;
padding-left: 10px;
list-style: none;
font-size: 14px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}
.block.block-border-bottom-none {
border-bottom: 0px none;
}
.block.block-border-top-none {
border-top: 0px none;
}


.name-card.name-card-3col {
padding: 8px 0;
padding-right: 85px;
}
.block-list>.block-item {
padding: 10px 85px 10px 0;
}
.block-item:last-child {
border-bottom: 0px none;
}
.name-card {
margin-left: 0px;
width: auto;
padding: 5px 0;
overflow: hidden;
position: relative;
}
.block-item {
position: relative;
display: block;
padding: 10px;
line-height: 22px;
border: 0px none;
-webkit-border-image: url("/Images/border-line.png") 2 stretch;
-moz-border-image: url("/Images/border-line.png") 2 stretch;
border-image: url("/Images/border-line.png") 2 stretch;
border-bottom: 2px solid #e5e5e5;
overflow: hidden;

}
.name-card .thumb {
width: 60px;
height: 60px;
float: left;
position: relative;
margin-left: auto;
margin-right: auto;
overflow: hidden;
background-size: cover;
margin: 0 5px 0 3px;
}
a {
color: #333;
background: transparent;
text-decoration: none;
}
.name-card .detail {
margin-left: 28px;
width: auto;
position: relative;
}
.name-card .detail a {
display: block;
}
.name-card .detail h3 {
margin-top: 1px;
color: #333;
font-size: 12px;
line-height: 16px;
width: 100%;
}
.name-card .detail .sku-detail {
padding-right: 20px;
}
.name-card .detail p {
position: relative;
font-size: 12px;
line-height: 16px;
white-space: nowrap;
margin: 0 0 2px;
color: #ccc;
}
.block p {
overflow: hidden;
}
.ellipsis {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.c-gray {
color: #c9c9c9 !important;
}
.name-card.name-card-3col .right-col {
position: absolute;
right: 0px;
padding-right: 10px;
font-size: 12px;
top: 1px;
}
.name-card.name-card-3col .right-col .price {
color: #333;
}
.name-card.name-card-3col .right-col .price {
font-size: 14px;
color: #515151;
text-align: right;
}
.name-card.name-card-3col .right-col .num {
font-weight: 200;
text-align: right;
margin-top: 1px;
padding: 0;
color: #555;
}
.right-col .num .num-txt {
padding: 0;
line-height: 22px;
color: #515151;
}
.block.block-order .bottom {
padding: 10px;
padding-left: 10px;
height: 16px;
font-size: 14px;
line-height: 16px;
}
.c-orange {
color: #f60 !important;
}
.opt-btn {
display: inline-block;
margin-top: -6px;
float: right;
}
element.style {
}
.opt-btn .btn {
margin-left: 5px;
padding: 4px 4px;
text-align: center;
line-height: 19px;
min-width: 50px;
height: 28px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.btn.btn-orange {
color: #fff;
border-color: #f60;
background-color: #f60;
}
.btn {
display: inline-block;
background-color: #fff;
border: 1px solid #e5e5e5;
border-radius: 3px;
padding: 4px;
text-align: center;
margin: 0;
color: #999;
font-size: 12px;
cursor: pointer;
line-height: 18px;
}

.wrap-input {
    float: left;
}
.wrap-input {
    position: relative;
    width: 44px;
    padding: 0px 18px;
}
a:link, a:visited {
    color: #666;
    text-decoration: none;
}
.wrap-input a {
    position: absolute;
    top: 3px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    line-height: 50px;
}

.btn-reduce {
    left: 0px;
    background-position: -216px -190px;
    background-image: url("/Images/newicon.png");
    background-repeat: no-repeat;
}
.btn-add {
    right: 0px;
    background-position: -232px -190px;
    background-image: url("/Images/newicon.png");
    background-repeat: no-repeat;
}

.sn-block {
    background: none repeat scroll 0% 0% #FFF !important;
}
.sn-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    background: none repeat scroll 0% 0% #FFF;
    padding: 10px;
    z-index: 50;
}
.buy-bar {
    height: 30px;
    width: 100%;
    padding: 1px 0px;
    margin-top: 9px;
}
.buy-bar .wbox {
    padding: 0px 5px 0px 12px;
}
.wbox {
    width: 120px;
    display: -moz-box;
    float: right;
padding-right: 20px;
}
.buy-bar a:first-child {
    margin-right: 4px;
}
 .buyNow {
    display: block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    color: #FFF !important;
    font-size: 15px;
    text-align: center;
    background-color: #F35935;
    border-radius: 0.08px;
    -moz-box-flex: 48;
}
.sumPrice
{
    width:150px;
    float:left;
    padding-top:7px;
    }



.loading {
	background-image: url("/v2/image/loader.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.bottom-fix {
display: block;
z-index: 100;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
padding: 6px 7px;
border-top: 1px solid #ccc;
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(226, 227, 231, 0.33)), to(rgba(248, 248, 248, 0.33)));
background-image: -webkit-linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
background-image: -moz-linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
background-image: linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
background-color: #fff;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 0;
}
.bottom-fix .bottom-cart {
padding: 0 10px;
height: 40px;
background-color: #ffffff;
font-weight: 500;
color: #f60;
position: relative;
}
.bottom-fix .bottom-cart .select-all {
font-weight: 500;
float: left;
width: 55px;
height: 40px;
color: #ccc;
}
.bottom-fix .bottom-cart>div {
height: 40px;
line-height: 40px;
font-size: 14px;
}
.check {
border-radius: 100%;
display: inline-block;
width: 20px;
height: 20px;
margin: 17px 0 0;
vertical-align: middle;
line-height: 60px;
background: url("/h5/order/image/icon_check_circle@2x.png") center center no-repeat;
background-size: contain;
}

.bottom-fix .bottom-cart .total-price {
padding-right: 80px;
text-align: center;
font-weight: 700;
width: auto;
margin-left: 55px;
}
.bottom-fix .bottom-cart>div {
height: 40px;
line-height: 40px;
font-size: 14px;
}
.bottom-fix .bottom-cart button {
position: absolute;
right: 10px;
padding: 4px 10px;
top: 5px;
height: 30px;
margin-top: 0px;
width: 75px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.bottom-fix .btn, .bottom-fix .tag-big {
line-height: 20px;
font-size: 14px;
}
.btn.btn-orange-dark {
color: #fff;
border-color: #f15a0c;
background-color: #f15a0c;
}
.btn.disabled, .btn[disabled] {
background-color: #c9c9c9 !important;
background-image: none !important;
border: 1px solid transparent !important;
color: #fff !important;
}
.btn {
display: inline-block;
background-color: #fff;
border: 1px solid #e5e5e5;
border-radius: 3px;
padding: 4px;
text-align: center;
margin: 0;
color: #999;
font-size: 12px;
cursor: pointer;
line-height: 18px;
-webkit-appearance: none;
}
.font-size-14 {
font-size: 14px !important;
}
.btn.btn-red {
color: #fff;
background-color: #ed5050;
border-color: #b93232;
}
.hide
{
    display:none;
    }
    
    
    .quantity {
    float: right;
    margin-top: 20px;
}
.quantity {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    position: relative;
}
.quantity .response-area-minus {
    left: -5px;
    cursor: pointer;
}
.quantity .response-area {
    width: 42px;
    height: 42px;
    top: -7px;
    position: absolute;
}

.quantity .minus, .sku-layout .quantity .plus {
    width: 37px;
    height: 29px;
    background-color: #FFF;
    border: 1px solid #999;
}
.quantity .minus {
    border-radius: 2px 0px 0px 2px;
}
.quantity .minus {
    border-radius: 4px 0px 0px 4px;
    border-right: medium none;
    background: url("/h5/order/image/ico_minus@2x.png") no-repeat scroll center center / 8px 2px #EEE;
}
.quantity button {
    border: 2px solid #EEE;
    font-size: 16px;
    line-height: 10px;
    font-weight: bold;
    color: #666;
    margin: 0px;
    padding: 5px;
    outline: medium none !important;
    text-align: center;
    width: 26px;
    height: 30px;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
}
.quantity .txt {
    width: 40px;
    height: 25px;
    padding: 1px;
    border-style: solid;
    border-color: #999;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    box-sizing: content-box;
}
.quantity .txt {
    margin: 0px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
}
.quantity .plus {
    width: 37px;
    height: 29px;
    background-color: #FFF;
    border: 1px solid #999;
}
.sku-layout .quantity .plus {
    border-radius: 0px 2px 2px 0px;
}
.quantity .plus {
    border-left: medium none;
    border-radius: 0px 4px 4px 0px;
    background: url("/h5/order/image/ico_plus@2x.png") no-repeat scroll center center / 8px 8px #EEE;
}
.quantity .response-area-plus {
    right: -5px;
    cursor: pointer;
}
.quantity .response-area {
    width: 42px;
    height: 42px;
    top: -7px;
    position: absolute;
}
.quantity .txtCover {
    position: absolute;
    top: 0px;
    left: 37px;
    bottom: 0px;
    right: 37px;
}

.bottom {
padding: 10px;
padding-left: 10px;
height: 16px;
font-size: 14px;
line-height: 16px;
}
.loading {
    height: 40px;
    line-height: 40px;
    position: fixed;
    left: 50%;
    margin-left: -70px;
    bottom: 50px;
    width: 140px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 13px;
    color: #FFF;
    border-radius: 5px;
    z-index: 99;
    display: none;
}