<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ETS2.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=192.168.0.100;Initial Catalog=EtownDB;Persist Security Info=True;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />-->
		<!--<add name="ConnectionString" connectionString="Data Source=115.28.38.65;Initial Catalog=EtownDB;User ID=sa;Password=F*eng_)^Xiang%lixh1210;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=shop.etown.cn;Initial Catalog=EtownDB;User ID=Etown_db_manage;Password=lIXh1(*11@!0wEIlVxXIG;" providerName="System.Data.SqlClient" /> 
  </connectionStrings>

	<system.web>

		<customErrors mode="Off"/>
		<sessionState mode="InProc" cookieless="false"  timeout="240"></sessionState>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
		<compilation debug="true" targetFramework="4.0" />

		<authentication mode="Forms">
			<forms loginUrl="/Default.aspx" timeout="720" name=".EasytourAppDev"  defaultUrl="/Default.aspx" protection="All" enableCrossAppRedirects="true" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>

		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
      enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
      maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
      applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>



	</system.web>

	<appSettings>
		<add key="CommonScetion" value="d:\site\b2betown\ETS2\Settings.config" />
		<!--<add key="CommonScetion" value="f:\site\b2betown\ETS2\Settings.config" />-->
	</appSettings>

	<location path="H5">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="JsonFactory/WeiXinHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/RegisterUser.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/AccountInfo.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/ProductHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/DirectSellHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/OrderHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/BusinessCustomersHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/ShangJiaUI/ProductList.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="ui/ShangJiaUI/PJList.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ui/ShangJiaUI/Pro.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ui/ShangJiaUI/Article.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="ui/ShangJiaUI/News.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/ShangJiaUI/CreateOrder.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="ui/vasui/alipay/notify_url.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/vasui/PaySuc.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/vasui/alipay/subpay.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/TwoCode.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="qr.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/vasui/pay.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/vasui">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Styles">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="UploadFile">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Manage">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="V">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="ui/vasui/test_send.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/EticketHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/CrmMemberHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/UserHandle.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/pmui/eticket/TwoCodeDetail.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/pmui/eticket/ShowTcode.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/pmui/eticket/TwoCodeList.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="ui/pmui/eticket/eticketlist_Down.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="posversionsj">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="yanzheng">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>



	<location path="M">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="admin">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WeiXin/Index.aspx">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="WeiXin/WxMaterialDetail.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="weixin/ProDetail.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/Choujiang.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Agent">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/AgentHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="UI/Frame">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="web.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="FriendlyRemind.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="JsonFactory/ChannelHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="byts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ui/CommonUI/Control/UploadHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="TicketService">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Channel">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="wxpay">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="wxpaytest">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="tenpay">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="weixin/skippage.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WxClientImgUploadFile">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WxClientVoiceUploadFile">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WxGroupSendUploadFile">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="JsonFactory/SmsHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WeiXin/Ttest.aspx">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="WeiXin/wxzixunreply.aspx">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="taobao_ms">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="Qunar_Ms">
		<system.web>
			<authorization>
				<allow users="*" />

			</authorization>
		</system.web>
	</location>
	<location path="hzins-jk">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="mjld-jk">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="wljk">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="lvmama">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="meituan-jk">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="YY">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="Pay">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="Excel">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="yangguang-jk">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="QRCode">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	
	<system.webServer>
		<!-- IIS7.0集成模式下 -->
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="HttpModule" type="ETS.Framework.HttpModule"/>
		</modules>
	</system.webServer>
	<system.web>
		<!-- IIS7.0经典模式或者IIS之前版本 -->
		<httpModules>
			<add name="HttpModule" type="ETS.Framework.HttpModule"/>
		</httpModules>
	</system.web>

	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>

	<applicationSettings>
		<ETS2.WebApp.Properties.Settings>
   <setting name="ETS2_WebApp_cn_etown_image_ImgUploadService" serializeAs="String">
    <value>http://image.etown.cn/ImgUploadService.asmx</value>
   </setting>
  </ETS2.WebApp.Properties.Settings>
	</applicationSettings>
</configuration>