<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Agent.master.cs" Inherits="ETS2.WebApp.Agent.Agent" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>
        <%=Scenic_name%></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link href="/Styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Styles/common.css" />
    <script src="/Scripts/common.js" type="text/javascript"></script>
    <link href="/Scripts/Impromptu.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-impromptu.4.0.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div class="topbar">
      <div class="grid-990 topbar-wrap fn-clear">
 <div class="q_links" style="float:left; margin-right:100px">

        <ul>
          <li><%if (Logourl!=""){ %><%=Logourl %> <%} %></li>
        </ul>
      </div>
        <ul class="topmenu">
        <%if (AccountId == "")
            { %>
            
          <li class="topmenu-item" >
          <a href="login.aspx"  title="登录" seed="topmenuItem-link" smartracker="on">登陆</a><b class="split"> - </b> <a href="regi.aspx"  title="注册" seed="topmenuItem-linkT1" smartracker="on">注册</a></li>
          <% }
            else
          {%>
            <li class="topmenu-item" > <%=AccountName %> 您好，今天是：<%=Today %> </li>
             <li class="topmenu-item" id="J-topmenu-dropdown" ><a href="Default.aspx"  seed="JTopmenuDropdown-link" smartracker="on">我的账户</a> </li>
             <li class="topmenu-item" ><a href="Out.aspx"  seed="topmenuItem-linkT1k" smartracker="on">退出</a> </li>
          <%} %>
		  
        </ul>
      </div>
    </div>
        <div id="site-nav">
        </div>

        <asp:ContentPlaceHolder ID="body" runat="server">
        </asp:ContentPlaceHolder>

        <div id="visualFooter">
  <div id="visualFooterleft">
           
		    <div id="visualFooterleft_font1">
              <div align="center"><br>
                 <%=Copyright%><br>
             </div>
  </div>
</div>

    <input type="hidden" id="hid_comid" value="<%=comid %>" />
    <input type="hidden" id="hid_Scenic_name" value="<%=Scenic_name%>" />
    <input type="hidden" id="hid_proid" value="<%=proid %>" />
    <input type="hidden" id="hid_ordertype" value="<%=ordertype %>" />
    <input type="hidden" id="hid_proname" value="<%=proname %>" />
    <input type="hidden" id="hid_fileUrl" value="<%=fileUrl %>" />
    <input type="hidden" id="hid_userid" value="<%=AccountId %>" />
    </form>
</body>
</html>