/* 价格日历窗口 */
.low_calendar {
    overflow:hidden;
	margin:10px;
	border:2px solid #bbdfff;
}
.low_calendar_top {
    height:30px;
	line-height:30px;
    overflow:hidden;
	padding:3px 0 2px 0;
	position:relative;
	background:#005bb5;
}
.top_left {
	position:absolute;
    width:30px;
    height:22px;
	overflow:hidden;
	top:5px;
	left:10px;
	z-index:5;
	border:1px #cae2fa solid;
	background:#eef7ff;
}
.last_mon {
	cursor:pointer;
	height:0;
	width:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	border-width:6px;
	border-color:transparent #005BB5 transparent transparent;
	border-style:dashed solid dashed dashed;
	position:absolute;
	left:5px;
	top:5px;
}
.top_right {
    position:absolute;
    width:30px;
    height:22px;
	overflow:hidden;
	top:5px;
	right:10px;
	z-index:5;
	border:1px #cae2fa solid;
	background:#eef7ff;
}
.next_mon {
    cursor:pointer;
	height:0;
	width:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	border-width:6px;
	border-color:transparent transparent transparent #005BB5;
	border-style:dashed dashed dashed solid;
	position:absolute;
	right:5px;
	top:5px;
}
.top_middle {
	width:100%;
	display:inline-block;
	position:relative;
    font-size:16px;
    height:30px;
    line-height:30px;
    text-align:center;
	color:#fff;
	margin-top:0px;
	z-index:4;
}
.calendar_bor {
    border-bottom:3px solid #007bd8;
    border-right:3px solid #007bd8;
    border-left:3px solid #007bd8;
}
#calTable1 {
	width:100%;
    border-collapse:collapse;
	margin:0;
	padding:0;
}
#calTable1 th {
    background-color:#fff;
    border-left:1px solid #whiteSmoke;
    font-size:12px;
    height:25px;
    line-height:25px;
    text-align:center;
	vertical-align:middle;
	color:#999;
	background:whiteSmoke;
}
#calTable1 .week_day {
    color:#3c62b5;
}
#calTable1 td {
    border-bottom:1px solid #f1f1f1;
    border-left:1px solid #f1f1f1;
	vertical-align:top;
    height:36px;
	background:#fff;
	text-align:center;
}
#calTable1 td .everyday {
	position:relative;
}
#calTable1 td .everyday a {
    cursor:pointer;
    height:36px;
	display:block;
    width:100%;
	position:relative;
}
#calTable1 td .everyday a:hover {
    text-decoration:none;
}
#calTable1 td .everyday .sale {
	position:absolute;
	width:9px;
	height:9px;
	overflow:hidden;
	background:url(/images/icon_sale.png) no-repeat;
	background-size:9px 9px;
	display:block;
	left:2px;
	top:2px;
}
#calTable1 td .everyday .sp_time {
	display:block;
	font-size:14px;
	font-weight:700;
	color:#354252;
	line-height:28px;
}
#calTable1 td .everyday a .sp_time {
	color:#005bb5;
}
#calTable1 td .everyday a .sp_pice {
	font-size:10px;
	color:#f60;
	margin-top:-8px;
}
#calTable1 td .today a {
    color:#f60;
	position:relative;
	font-size:12px;
	-moz-box-shadow:0px 0px 5px #dcdeeb inset;
	-webkit-box-shadow:0px 0px 5px #dcdeeb inset;
	box-shadow:0px 0px 5px #8d8d8d dcdeeb;
}
#calTable1 td .today a .sp_time {
	color:#f60;
}

#calTable1 td .last_day {
    cursor:default;
	height:36px;
}
#calTable1 td a.last_day {
	cursor:default;
}
#calTable1 td .last_day .sp_time, #calTable1 td a.last_day .sp_time {
    color:#ccc;
}

/* 节假日列表 */
#holidayList1 {
	margin:0 10px;
}
#holidayList1 li {
	position:relative;
	height:40px;
	line-height:40px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	margin-bottom:-1px;
}
#holidayList1 li span {
	width:50%;
	display:inline-block;
}
#holidayList1 li span em {
	width:9px;
	height:9px;
	overflow:hidden;
	background:url(/images/icon_sale.png) no-repeat;
	background-size:9px 9px;
	display:inline-block;
	vertical-align:middle;
	margin:-4px 10px 0 5px;
}