<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETS2.VAS.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ETS2.VAS.Service.Properties.Settings>
            <setting name="ETS2_VAS_Service_WebReference1_ITicketService"
                serializeAs="String">
                <value>http://180.184.100.186:3177/ticketservice/httpService.ts</value>
            </setting>
            <setting name="ETS2_VAS_Service_WebReference2_ITicketService"
                serializeAs="String">
                <value>http://123.125.207.45:8080/httpService.ts</value>
            </setting>
        </ETS2.VAS.Service.Properties.Settings>
    </applicationSettings>
</configuration>