/*登录页面css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
ol, ul {
    list-style: outside none none;
}
html, body
{
    background: #ffffff;
    height: 100%;
}
body, div, ol, ul, li, dl, dt, dd, table, tr, td, h1, h2, h3, h4, h5, h6, img, p, input, textarea, select, form, button
{
    margin: 0;
    padding: 0;
}
body, input, textarea, select, form, button
{
    font: 12px/1.5 tahoma,\5b8b\4f53, "微软雅黑";
}
ul
{
    list-style: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
img, table, tr, td
{
    border: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
}
img, textarea, form, button, input, select
{
    vertical-align: middle;
}
.login_button
{
    font-family: "微软雅黑";
}
a, a:visited, a:hover, a:active
{
    text-decoration: none;
}
input[type="button"], input[type="text"], input[type="password"]
{
    outline: none;
    font-family: "微软雅黑";
}
body
{
    background-color: #FAFAFA;
}
.weixin_bangding
{
    padding: 10px;
    min-width: 300px;
}
.weixin_bangding ul li
{
    margin: 10px 0 0 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.05);
}
.weixin_bangding ul li:hover
{
    border-color: #B2D7B0;
}
.wx_input_s
{
    color: #c8c8c8;
    line-height: 20px;
    height: 30px;
    border: none;
    width: 100%;
}
.wx_input_s:focus
{
    outline: none;
    color: #505050;
}
.wx_button_s
{
    border-radius: 2px;
    width: 100%;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #3CAFDC;
    border-bottom-color: #26922C;
    background-color: #3CAFDC;
    box-shadow: 0 1px 0 rgba(255,255,255,.2) inset, 1px 1px 2px rgba(0,0,0,.2);
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#3CAFDC),color-stop(100%,#3CAFDC));
    background: -moz-linear-gradient(top,#3CAFDC,#3CAFDC);
    background: -o-linear-gradient(top,#3CAFDC,#3CAFDC);
    background: -ms-linear-gradient(top,#3CAFDC,#3CAFDC);
    background: linear-gradient(top,#3CAFDC,#3CAFDC);
}

.wx_button_s1
{
    line-height: 40px;
    width: 38%;
    height: 40px;
    float: right;
    border-radius: 5px;
    color: #545454;
    border: 1px solid #D9D9D9;
    background: url(http://shop.etown.cn/images/201311021125.jpg) repeat-x;
    margin:-5px -5px 0 0;
}
/*---loading --*/
#loading
{
    position: fixed;
    z-index: 99999;
    width: 50%;
    margin: 0 25%;
    display: none;
}
#loading img
{
    width: 85px;
    height: 85px;
    margin: 30px auto;
    display: block;
}
/*--登录css--*/
.weixin_bangding .butbox .lg i
{
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    margin-left: 5px;
    background: url(http://shop.etown.cn/images/201402191703.png) 0px -126px no-repeat;
}
/*--注册css--*/
.weixin_bangding .butbox
{
    padding: 20px;
}
.weixin_bangding .butbox .lg
{
    margin: 0px 0px 30px 0px;
    font-size: 16px;
}
.text-center
{
    text-align: center;
}
.weixin_bangding .butbox .lg a:link, .weixin_bangding .butbox .lg a:visited
{
    color: #8e8e8e;
}
/*--忘记密码css--*/
.clearfix:before, .clearfix:after
{
    display: table;
    content: " ";
}
.clearfix .fpass:link, .clearfix .fpass:visited, .clearfix .fpass:hover
{
    color: #3dc7f5;
    text-decoration: underline;
}
.clearfix .fpass
{
    margin: 10px 20px 20px 0px;
    font-size: 16px;
    float: right;
}

.clearfix .loginFormCbx
{
    float: left;
    font-size: 16px;
    margin: 10px 20px 20px 0;
}


/*--手机端分销 找回密码和注册页面css--
.wrap .navbar{ margin-bottom:0px;}
#wrapper{ z-index:1;}
.userbox{ max-width:425px; padding:0px 11px;}
.userbox .line{ margin:10px 0 0 0px; padding:0px;}
.userbox .line li{ height:2px; float:left; width:25%; list-style-type:none; overflow:hidden;}
.userbox .line li.l-1{ background-color:#E72933;}
.userbox .line li.l-2{ background-color:#008CE4;}
.userbox .line li.l-3{ background-color:#1EC305;}
.userbox .line li.l-4{ background-color:#FEC900;}
.userbox .con{ border:1px solid #EEEEEE; padding-top:25px; margin:0 0 10px 0px; border-top:none; border-bottom:none; position:relative; background-color:white;}
.userbox .con:before,.userbox .con:after{bottom:0px;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);content: "";height: 1px;left: 0;position: absolute; width: 100%; z-index: -1;}
.userbox .con .inpbox{ padding:0px 20px;}
.userbox .inpbox h1{ font-size:20px;margin:0px 0px 20px 3px; font-family:"微软雅黑"; font-weight:normal;}
.userbox .inpbox .txt{  border:1px solid #cfcfcf; padding:0px 10px; height:47px; background-color:white;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.07) inset; margin-bottom:15px; border-radius:5px;}
.userbox .inpbox .tell{width:100%;}
.userbox .inpbox .yzm{width:50%; float:left;}
.userbox .inpbox .txt:focus{ border-color:#FF5300;}
.userbox .inpbox .but{ width:45%; height:47px; float:right; border-radius:5px; color:#545454; border:1px solid #D9D9D9; background:url(201311021125.jpg) repeat-x;}
.userbox .butbox{ padding:20px; }
.userbox .butbox button{ width:100%; background-color:#DCDCDC; border:none; height:43px; border:1px solid #C4C4C4; color:#7E7E7E; cursor:pointer; line-height:43px; font-size:20px; border-radius:5px;}
.userbox .tip {margin-top: 20px; text-align: center; color: #7E7E7E;}
.inpbox .tips {
line-height: 16px;
padding: 6px 0 4px;
}
.txt-tips {
color: #999;
} 
.inpbox .tips {
line-height: 16px;
}
.con .butbox button {
    background-color: #27a9fc;
    border: 1px solid #1d95db;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 43px;
    line-height: 43px;
    width: 100%;
}
--*/

.account-form button {
border: 1px solid #e5e5e5;
}
.tag.tag-green {
color: #06bf04;
border-color: #00cc33;
}
.block-item .btn-auth-code {
position: absolute;
top: 6px;
right: 0;
height: 30px;
line-height: 30px;
padding-left: 7px;
padding-right: 7px;
font-weight: bold;
}
.account-form button {
border: 1px solid #e5e5e5;
}
.account-form input, .account-form textarea, .account-form select, .account-form button {
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-size: 16px;
background: white;
border: 0;
}
.account-form input, .account-form textarea, .account-form select, .account-form button, .account-form label {
display: inline-block;
vertical-align: top;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.tag {
display: inline-block;
background-color: transparent;
border: 1px solid #e5e5e5;
border-radius: 3px;
text-align: center;
margin: 0;
color: #999;
font-size: 12px;
line-height: 12px;
padding: 4px;
}

.form-title {
    padding: 25px 0px 10px;
    
    line-height: 24px;
    font-size: 14px;
    color: #7C7B83;
    text-transform: uppercase;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
}
.big {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.block.block-form {
    width: 100%;
    margin: 0px;
    padding: 0px 10px;
    list-style: outside none none;
    font-size: 14px;
    box-sizing: border-box;
}
.block {
    overflow: hidden;
    border-image: url("/images/border-line.png") 2 2 2 2;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    margin: 10px 0px;
    background-color: #FFF;
    display: block;
    position: relative;
    font-size: 14px;
}
.block.block-form .block-item {
    display: table;
    width: 100%;
    padding: 0px;
}
.block-item {
    position: relative;
    display: block;
    padding: 10px;
    line-height: 22px;
    border-width: 0px 0px 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: url("/images/border-line.png") 2 2 2 2;
    overflow: hidden;
}
.block.block-form .block-item label {
    display: table-cell;
    width: 90px;
    padding: 10px 0px;
    vertical-align: middle;
}
.block.block-form .block-item textarea, .block.block-form .block-item input, .block.block-form .block-item select {
    width: 99%;
    background-color: #FFF;
    border: 0px none;
    outline: medium none;
}
.hide {
    display: none !important;
    visibility: hidden;
}
.block.block-form .block-item:last-child {
    border-bottom: 0px none;
}
.login-form .block-form .auth-hide {
    display: none !important;
}
.block.block-form .block-item {
    display: table;
    width: 100%;
    padding: 0px;
}
.tag.tag-green {
    color: #06BF04;
    border-color: #0C3;
}
.block-item .btn-auth-code {
    position: absolute;
    top: 6px;
    right: 0px;
    height: 30px;
    line-height: 20px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
}
.account-form button {
    border: 1px solid #E5E5E5;
}

.block.block-form .block-item textarea, .block.block-form .block-item input, .block.block-form .block-item select, .block.block-form .block-item a, .block.block-form .block-item span {
display: table-cell;
overflow: hidden;
margin-left: 0;
padding: 10px 0;
font-size: 14px;
min-height: 22px;
line-height: 22px;
}
.account-form input, .account-form textarea, .account-form select, .account-form button {
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-size: 16px;
background: white;
border: 0;
}
.block-item .verify-image {
position: absolute;
width: 80px;
height: 30px;
right: 10px;
top: 7px;
}
.btn.btn-green {
    color: #FFF;
    background-color: #06BF04;
    border-color: #03B401;
}
.action-container {
    padding: 0px 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

 .action-links {
    margin: 20px 0px;
}
.account-form .action-links {
    text-align: right;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 14px;
}
.center {
    text-align: center;
}