 .meituan_tr
 {
     padding:10px;
     width:100%;  
 }
 .meituan_tr ul
 {
     padding:5px;
 }
 .meituan_tr ul li
 {
     display:block !important;
     padding:3px 10px;
 }
 .meituan_tr ul li label 
 {
     font-size:16px;  
     width:30%;  
     display:inline-block;
 }
 .meituan_tr ul li div
 {
     font-size:16px;
     width:70%;
     display:inline-block;
 }
 .meituan_tr .form-control
 {
    display: block;
    width: 100%;
    padding: 1px 3px;
    font-size: 14px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
 .meituan_tr h3
 {
    font-size: 16px !important;
    color: #000 !important;
 }
